body {
	padding-top: 0px;
}

.navbar-default {
    background-color:transparent;
}

.navbar {
    min-height: 50px;
    margin-bottom: 0px;
    border: 0px;
}

.menu {

}

.logo {
	height:"70";

}

.carrousel{
	width: 100%;
}